body{
    background-color: #efeded;
    padding: 0px;
    margin:0px;
}
header{
    background-color: rgb(180, 149, 132);
    background-size: 200% 100%;
    padding: 0px;
    margin:0px;
    height: 57px;
}
.spine-align{
    background-color: #d7d6d6;
    margin-top: 70px;
}
.first{
    display: flex;
    flex-wrap: wrap;
}
.jpgseven{
    height: 55%;
    width: 55%;
    padding-left: 30px;
    padding-top: 80px;
    padding-bottom: 30px;
}
.spinealign{
    height: 300px;
    width: auto;
    padding-left: 230px;
    margin-top: 20px;
}
.SA{
    color:rgb(36, 86, 104);
    font-size: 75px;
    padding: 0px;
    margin-top: 98px;
    margin-left: -37px;
    width: 160px;
    height: 150px;
    line-height: 90%;
    text-align: right;
    font-family:Arial Narrow;
    font-weight: 100;
}
.first-text{
    max-width: 680px;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Calibri;
}
.first_upper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 800px;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.f-button{
    width: 300px;
    height: 75px;
    padding: 0;
    background-color: transparent;
    border: solid rgb(180, 149, 132) 3px;
}
.s-button{
    width: 300px;
    height: 75px;
    padding: 0;
    background-color: rgb(180, 149, 132);
    color: #d7d6d6;
    border: none;
    font-size: 36px;
    align-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}



.lux{
    position: relative;
}
.second{
    display: flex;
    margin-top: -80px;
}
.div-013{
    flex-direction: column;
    margin-left: 50px;
}
.div-024{
    flex-direction: column;
    margin-right: 50px;
}
.lux-pillow{
    color: rgb(180, 149, 132);
    font-size: 75px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: -400px;
    font-family: Arial;
    font-weight: 100;
}
.png11{
    width: auto;
    height: 700px;
    align-self: flex-end;
}
.div-second1{
    color: rgb(180, 149, 132);
    font-size: 56px;
    text-align: left;
    font-family: Arial;
    font-weight: 100;
    padding-left: 130px;
    margin-bottom: -12px;
}
.div-second2{
    color: rgb(180, 149, 132);
    font-size: 56px;
    text-align: right;
    font-family: Arial;
    font-weight: 100;
    padding-right: 130px;
    margin-bottom: -12px;
}
.divS{
    color: rgb(180, 149, 132);
    font-size: 36px;
    text-align: center;
    font-family: Arial;
    font-weight: 100;
}
.second-p13{
    text-align: right;
    padding-right: 60px;
    padding-bottom: 120px;
    font-family: Arial;
    font-size: 18px;
    font-weight: 100;
}
.second-p24{
    text-align: left;
    padding-left: 60px;
    padding-bottom: 120px;
    font-family: Arial;
    font-size: 18px;
    font-weight: 100;
}
.dot-1, .dot-2, .dot-3, .dot-4{
    position: relative;
    color: rgb(180, 149, 132);
    font-size: 80px;
    width: 30px;
}
hr{
    border: none;
    border-top: 3px solid rgb(180, 149, 132);
    position: relative;
}
.line-1{
    width:310px;
    position: relative;
    top: 125px;
    left: 320px;
}
.line-2{
    width: 120px;
    position: relative;
    top: 114px;
    left: 630px;
    transform: rotate(30deg);
    transform-origin: top left;
}
.line-3{
    width: 200px;
    position: relative;
    top: 262px;
    left: 633px;
    transform: rotate(90deg);
}
.dot-1{
    position: relative;
    top: 715px;
    left: 719px;
}
.line-4{
    width:414px;
    position: relative;
    top: 510px;
    left: 320px;
}
.line-5{
    width: 250px;
    position: relative;
    top: 623px;
    left: 608px;
    transform: rotate(90deg);
}
.dot-2{
    position: relative;
    top: 1030px;
    left: 719px;
}
.line-6{
    width:310px;
    position: relative;
    top: 70px;
    left: 1230px;
}
.line-7{
    width: 120px;
    position: relative;
    top: 119px;
    left: 1126px;
    transform: rotate(-30deg);
    transform-origin: top left;
}
.line-8{
    width: 200px;
    position: relative;
    top: 207px;
    left: 1027px;
    transform: rotate(90deg);
}
.dot-3{
    position: relative;
    top: 533px;
    left: 1113px;
}
.line-9{
    width:414px;
    position: relative;
    top: 455px;
    left: 1126px;
}
.line-10{
    width: 250px;
    position: relative;
    top: 568px;
    left: 1002px;
    transform: rotate(90deg);
}
.dot-4{
    position: relative;
    top: 848px;
    left: 1113px;
}



.art-3{
    height: 900px;
    background-color: #d7d6d6;
}
.third-1, .third-2, .third-3{
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-weight: 100;
    margin-left: 60px;
}
.third-1{
    padding-top: 150px;
    padding-bottom: 100px;
}
.third-2{
    padding-bottom: 220px;
}



.art-4{
    display: flex;
}
.four-1, .four-2{
    flex-direction: column;
    width: 50%;
}
.fourth-2, .fourth-3{
    width: 928px;
}
.fourth-2{
    align-items: right;
}
.fourth-3{
    align-items: left;
}
.fourth-1, .fourth-4{
    text-align: center;
    font-family: Arial;
    font-size: 28px;
    font-weight: 100;
    margin-left: 60px;
}
.fourth-1{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 362px;
    padding-bottom: 200px;
}
.fourth-4{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 540px;
}



.art-5{
    background-image: url("2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 650px;
    margin-top: -4px;
}
.fifth{
    display: flex;
    flex-direction: column;
    background-color: rgba(72, 144, 130, 0.645);
    height: 650px;
}
.h5-5{
    text-align: center;
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
    color: whitesmoke;
    padding-top: 150px;
    padding-bottom: 30px;
    margin: 0;
}
.p5{
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    font-weight: 100;
    color: whitesmoke;
    width: 1100px;
    align-self: center;
    line-height: 45px;
    padding-bottom: 35px;
}
.button-5{
    width: 300px;
    height: 75px;
    background-color: rgb(180, 149, 132);
    color: #d7d6d6;
    border: none;
    font-size: 36px;
    align-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}



.art-6{
    background-image: url("8.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 900px;
}
.sixth{
    background-color: rgba(58, 58, 58, 0.438);
    height: 900px;
}
.h3-6{
    text-align: center;
    font-family: Arial;
    font-size: 52px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 0;
    padding-top: 540px;
}
.h4-6{
    text-align: center;
    font-family: Arial;
    font-size: 46px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    margin: 0;
    padding-top: 50px;
}



.art-7{
    display: flex;
    margin-bottom: 0%;
}
.png-7{
    height: 55%;
    width: 55%;
    padding-left: 1.5%;
    padding-top: 4%;
}
.div-art-7{
    display: flex;
    flex-direction: column;
    width: 38%;
}
.lux-pillow-2{
    color: rgb(180, 149, 132);
    font-size: 75px;
    text-align: center;
    margin-top: 17%;
    margin-bottom: 10%;
    font-family: Arial;
    font-weight: 100;
}
.p7{
    text-align: center;
    font-family: Arial;
    font-size: 22px;
    font-weight: 100;
    align-self: center;
    line-height: 135%;
    margin: 0;
}
.button-7{
    width: 40%;
    height: 10%;
    padding: 0;
    background-color: transparent;
    border: solid rgb(180, 149, 132) 3px;
    color: rgb(180, 149, 132);
    font-size: 36px;
    align-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    margin-top: 10%;
}



.img-ft{
    width: 100%;
    margin-top: -7%;
}